body {
    padding: 5px;
    margin: 5px;
    background: #d8871c;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  


/* body{
    background-color: burlywood;
}

.burger-img{
    text-align: center;
}

.title{
    text-align: center;
}

.add-burger{
    text-align: center;
}

.burger-form{
    text-align: center;
} */